<%= javascript_include_tag 'jit-yc', 'phenotypic_tree' %>
<div>
  Taxonomic distribution of <select><option value="">shape</option></select> for <strong>basihyal bone</strong> <button>change</button>
  
  <div class='clear'></div>

  <div id="search_sidebar">
    <div id="term_info">
      <div class='section'>
        Limit tree to <span style="border: 3px solid black">Halecostomi</span> (X)
      </div>
      <div class="section">
        <input type="checkbox" />
        <label for="">Show taxa without phenotype data</label><br />
        <input type="checkbox" />
        <label for="">Show taxa with unspecified shape phenotypes</label>
      </div>
      <div class="section">
        <a href="">Show current query</a>
      </div>
    </div>

    <table class="grid">
      <tr>
        <th>Phenotype</th>
        <th>Taxa</th>
        <th>Phenotype Profiles</th>
      </tr>
      <tr>
        <td>triangular</td>
        <td>1</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Y-shaped</td>
        <td>1</td>
        <td>1</td>
      </tr>
    </table>
  </div>
  
  <div id="search_main">
    <div id="variation-tree">
      
    </div>
  </div>
  
  <div class='clear'></div>
</div>
