<% unless term_id.blank? %>
  <div class="term rounded-large">
    <%= filter_operator(index, field_name) %>
    <%= hidden_field_tag "filter[#{field_name}][#{index}]", term_id %>
    <%= filter_term_link(term_id) %>
    <%= link_to_function image_tag("remove.png"), "$(this).up('.term').remove(); updateFilterSection('term_filter');" %>
  </div>
<% end %>