<h2><span class="term-name" title="TTO:12345"><a href="/search/taxonomy/TTO:12345">Ictalurus punctatus</a></span> <i>exhibits</i> <span class="term-name"><a href="/search/anatomy/TAO:12345">basihyal bone</a>:</span> <span class="term-name">absent from organism</span></h2>

<h3>Reference:</h3>
<span class="citation"><a href="/search/publication/1234546">Lundberg, J.G. and A. Akama. 2005. <i>Brachyplatystoma capapretum</i>: a New Species of Goliath Catﬁsh from the Amazon Basin, with a Reclassiﬁcation of Allied Catﬁshes (Siluriformes: Pimelodidae). <i>Copeia</i> 2005(3): 492-516.</a></span>

<h3>Published description:</h3>
<table>
<tr><td class="TermInfoPanel-field-label" style="width: 6em;">Character:</td><td>basihyal</td></tr>
<tr><td class="TermInfoPanel-field-label" style="width: 6em;">State:</td><td>missing</td></tr>
</table>
