<h2><span class="term-name" title="TTO:12345"><a href="/search/taxonomy/TTO:12345">Ictalurus punctatus</a></span> <i>exhibits</i> <span class="term-name"><a href="/search/anatomy/TAO:12345">basihyal bone</a>:</span> <span class="term-name">serrated</span></h2>

<h3>Reference:</h3>
<span class="citation"><a href="/search/publication/1234546">Lundberg, J.G. and A. Akama. 2005. <i>Brachyplatystoma capapretum</i>: a New Species of Goliath Catﬁsh from the Amazon Basin, with a Reclassiﬁcation of Allied Catﬁshes (Siluriformes: Pimelodidae). <i>Copeia</i> 2005(3): 492-516.</a></span>

<h3>Published description:</h3>
<table class="annotations sortable" id="datatable">
	<tr><th>Character</th><th>State</th></tr>
	<tr>
		<td>form of basihyal</td>
		<td>serrated in shape</td>
	</tr>
</table>