<p>Welcome to the Phenoscape phenotype database for ostariophysan fishes.</p>

<div id="search_buttons">
	<input type="button" value="Anatomy" onclick="showSearch('anatomy_search');"> <input type="button" value="Taxonomy" onclick="showSearch('taxonomy_search');"> <input type="button" value="Genes" onclick="showSearch('gene_search');">
</div>

<!-- <div id="term_info"></div> -->
	<div id="anatomy_search">
		<h2 class="field_label">Search Anatomy</h2>
		<p>Begin typing to choose a search term from the popup menu.</p>
		<form id="entityForm" action="" onsubmit="submitAnatomy(); return false;">
			<div id="entityChoiceGroup">
				<input type="text" id="entityChoice">
				<div id="entityComplete"></div>
			</div>
			<input type="submit" value="Search">
		</form>
	</div>

	<div id="taxonomy_search" style="display: none;">
		<h2 class="field_label">Search Taxonomy</h2>
		<p>Begin typing to choose a search term from the popup menu.</p>
		<form id="taxonForm" action="" onsubmit="submitTaxon(); return false;">
			<div id="taxonChoiceGroup">
				<input type="text" id="taxonChoice">
				<div id="taxonComplete"></div>
			</div>
			<input type="submit" value="Search">
		</form>
	</div>
	
	<div id="gene_search" style="display: none;">
		<h2 class="field_label">Search Genes</h2>
		<p>Begin typing to choose a search term from the popup menu.</p>
		<form id="geneForm" action="" onsubmit="submitGene(); return false;">
			<div id="geneChoiceGroup">
				<input type="text" id="geneChoice">
				<div id="geneComplete"></div>
			</div>
			<input type="submit" value="Search">
		</form>
	</div>


<script type="text/javascript">
	var shownSearch = "anatomy_search";

	var selectedAnatomy = {"id":null, "name":null};
	var selectedGene = {"id":null, "name":null};
	var selectedTaxon = {"id":null, "name":null};

	var entityAC = initAutocomplete($("entityChoice"), $("entityComplete"), "TAO");
	var geneAC = initAutocomplete($("geneChoice"), $("geneComplete"), "ZFIN");
	var taxonAC = initAutocomplete($("taxonChoice"), $("taxonComplete"), "TTO");
	var selectItem = function(storage, event, item) {
		var data = item[2];
		storage.id = data[1];
		storage.name = data[0];
	}
	entityAC.itemSelectEvent.subscribe(partial(selectItem, selectedAnatomy));
	geneAC.itemSelectEvent.subscribe(partial(selectItem, selectedGene));
	taxonAC.itemSelectEvent.subscribe(partial(selectItem, selectedTaxon));
	
	function submitAnatomy() {
		var href = "/search/anatomy/";
		if ((selectedAnatomy.id == null) || ($("entityChoice").value != selectedAnatomy.name)) {
			href += $("entityChoice").value + "?find=true";
		} else {
			href += selectedAnatomy.id;
		}
		location.href = (href);
	}
	
	function submitGene() {
		var href = "/search/gene/";
		if ((selectedGene.id == null) || ($("geneChoice").value != selectedGene.name)) {
			href += $("geneChoice").value + "?find=true";
		} else {
			href += selectedGene.id;
		}
		location.href = (href);
	}
	
	function submitTaxon() {
		var href = "/search/taxon/";
		if ((selectedTaxon.id == null) || ($("taxonChoice").value != selectedTaxon.name)) {
			href += $("taxonChoice").value + "?find=true";
		} else {
			href += selectedTaxon.id;
		}
		location.href = (href);
	}
	
	function showSearch(divID) {
		if (divID == shownSearch) return;
		logDebug("Showing " + divID);
		hideElement(shownSearch);
		appear(divID);
		shownSearch = divID;	
	}
	
</script>