<p>Welcome to the Phenoscape phenotype database for Ostariophysan fishes.</p>
<div id="term_info"></div>
<table id="search_fields">
	<tr id="anatomy_search">
		<td class="field_label">Search anatomy:</td>
		<td>
			<div id="entityChoiceGroup">
				<input type="text" id="entityChoice">
				<div id="entityComplete"></div>
			</div>
		</td>
		<td>
			<input type="button" value="Search" onclick="submitAnatomy()">
		</td>
	</tr>
	<tr>
		<td class="or" colspan="2">or</td>
	</tr>
	<tr id="gene_search">
		<td class="field_label">Search genes:</td>
		<td>
			<div id="geneChoiceGroup">
				<input type="text" id="geneChoice">
				<div id="geneComplete"></div>
			</div>
		</td>
		<td>
			<input type="button" value="Search" onclick="submitGene()">
		</td>
	</tr>
	<tr id="taxonomy_search" style="display:none;">
		<td class="field_label">Search taxonomy:</td>
		<td>
			<div id="taxonChoiceGroup">
				<input type="text" id="taxonChoice">
				<div id="taxonComplete"></div>
			</div>
		</td>
		<td>
			<input type="button" value="Search">
		</td>
	</tr>
</table>

<div id="gene_search">
</div>

<script type="text/javascript">
	var selectedAnatomy = {"id":null};
	var selectedGene = {"id":null};
	var selectedTaxon = {"id":null};

	var panel = new TermInfoPanel("term_info");
	var termInfoDS = new TermInfoPanelDataSource(panel);
	var entityAC = initAutocomplete($("entityChoice"), $("entityComplete"), "TAO");
	var geneAC = initAutocomplete($("geneChoice"), $("geneComplete"), "ZFIN");
	var taxonAC = initAutocomplete($("taxonChoice"), $("taxonComplete"), "TTO");
	var rollOver = function(event, item) {
		var acInstance = item[0];
		var li = item[1];
		var data = acInstance.getListItemData(li);
		termInfoDS.loadTerm(HOST + "/OBD-WS/term/" + data[1]);
		}
	//entityAC.itemMouseOverEvent.subscribe(rollOver);
	//entityAC.itemArrowToEvent.subscribe(rollOver);
	//taxonAC.itemMouseOverEvent.subscribe(rollOver);
	//taxonAC.itemArrowToEvent.subscribe(rollOver);
	var selectItem = function(storage, event, item) {
		var data = item[2];
		storage.id = data[1];
		termInfoDS.loadTerm(HOST + "/OBD-WS/term/" + data[1]);
	}
	entityAC.itemSelectEvent.subscribe(partial(selectItem, selectedAnatomy));
	geneAC.itemSelectEvent.subscribe(partial(selectItem, selectedGene));
	
	function submitAnatomy() {
		logDebug(selectedAnatomy.name);
		location.href = ("/search/anatomy/" + selectedAnatomy.id);
	}
	
	function submitGene() {
		logDebug(selectedGene.name);
		location.href = ("/search/gene/" + selectedGene.id);
	}
	
	function submitTaxonomy() {
		location.href = ("/search/taxonomy/" + selectedTaxon.id);
	}
</script>