<h2><i>Brachyplatystoma capapretum</i>: a New Species of Goliath Catﬁsh from the Amazon Basin, with a Reclassiﬁcation of Allied Catﬁshes (Siluriformes: Pimelodidae).</h2>

<h3>Lundberg, J.G. and A. Akama</h3>

<h3>2005, <i>Copeia</i> 2005(3): 492-516</h3>

<h3><a href="/search/phenotypes/anatomy/TAO:12345/taxa/PATO:12345">46 phenotypes in 13 taxa</a> described in this publication.</h3>

