/*body {background-color: white; font-family: sans-serif;}
body {padding: 0; margin: 0;}
body > p {margin: 1em;}
h1 {background-color: #033; margin-top: 0em; padding: 0;}
h2 {margin-left: 20px; margin-right: 20px;}
h1 a {display: block; margin: 0; padding: 0;}
a {color: #033;}
.term-name {font-weight: bold; color: #033;}
img.top_logo {display: block; margin: 0; margin-left:30px; padding: 0;}
#term_info {width: 40%; float: right; border: 2px solid #033; margin-right: 1em;}
.TermInfoPanel-name {font-size: 150%; color: white; background-color: #033;}
.TermInfoPanel-header-label {color: white; background-color: #033;}
.TermInfoPanel-field-label {background-color: #6c9; text-align: right;}
#term_info td {vertical-align: top;}
#search_fields {width: 45%;}
.field_label {text-align: right;}
.relation_name {font-style: italic;}
td {padding-left: 0.5em;}
td.or {text-align: center;}
tr.odd {background-color: #6c9;}
table.annotations {border: 2px solid #033; width: 100%;}
table.annotations th {font-size: 125%; color: white; background-color: #033; text-decoration: none;}
table.annotations th a {color: white; background-color: #033; text-decoration: none;}

.sortarrow img {border: none;}
*/

h1 img {border: none;}
#navbar {background-color: #74c4ab; text-align: right; color: #0a3a34;}
#navbar a {color: inherit; margin: 0.5em;}
.clear {clear: both;}
body {font-family: Helvetica, sans-serif;}
td {border: 1px solid black;}
.relation-name {font-style: italic;}

#sidebar {float: left; width: 30%;}
#main {margin-left: 3px; margin-right: 3px;}
#footer {clear: both; margin-top: 1em; padding-top: 2em;}
#footer > div {background-color: #74c4ab; color: #0a3a34; text-align: center;}
#footer a {color: inherit; margin: 0.5em;}

div#term_info {border: 4px solid #74c4ab; margin-left: 3px; padding: 3px;}
.term-info-header {background-color: #74c4ab; color: #0a3a34;}
.term-info-field-label {font-weight: bold; color: #0a3a34;;}

.yui-skin-sam .yui-ac-input { position: static; width: 100%;}
.tag-cloud {font-size: 8pt; }
.tag-cloud a {display: block; float: left; margin: -0.1em 0.25em -0.1em 0.25em; text-decoration: none; color: #0a3a34;}
.tag-cloud a:hover {background-color: #74c4ab;}
.tag-cloud a:visited {color: #0a3a34;}
#search-forms {width: 80%; margin-left: auto; margin-right: auto;}
#search-forms h2 {}
#search-buttons {text-align: center;}
#search-buttons input {margin-left: 2em; margin-right: 2em;}