body {font-family: Helvetica, sans-serif; margin: 0.5em 0.75em;}
div#sidebar {float: right; width: 15em;}
div#main {padding-right: 14em;}
div#main #termFormContent {max-width: 50em;}
div#main #termFormContent .search-instructions {}
.navigation-group {width: 42%; display: inline-block; vertical-align: top; margin-right: 3em;}
.navigation-group h3 {background-color: #74c4ab; color: #0a3a34;}
h3#feedHeader {color: #0a3a34;}
.navigation-group ul {margin: 0; padding: 0;}
.navigation-group li {list-style-type: none; list-style-image: none; margin-bottom: 3px;}
#data-tools { margin-right: 1em;}
#data-tools td { padding: 1.25em; overflow: hidden;}
#data-tools td.navigation-group { display: table-cell; margin-right: 0;}
#data-tools td.navigation-group h3 {background-color: transparent; color: #333; margin-top: 0.25em;}
.gfc-tabsArea {display: none;}
.gfc-resultsHeader {display: none;}
#feed {font-size: 75%;}

h1.top_logo_holder {float: left;}
div.header-message {padding: 0.0em 0.75em; border: 1px solid #ccc; color: #333; background-color: #f3f3f3; font-size: 0.9em; font-style: italic; line-height: 1.2em; margin: 6px 10px 10px 344px;}
div.header-message a {font-weight: bold;}
.feedback-widget {clear: right; float: right; margin: 0px -4px 8px 12px; border: 2px solid #fff; padding: 5px 16px; background-color:  #276; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #276), color-stop(100%, #000000)); background-image: -webkit-linear-gradient(top, #276, #000000); background-image: -moz-linear-gradient(top, #276, #000000); background-image: -o-linear-gradient(top, #276, #000000); background-image: -ms-linear-gradient(top, #276, #000000); background-image: linear-gradient(top, #276, #000000);}
div.header-message .feedback-widget {margin: 4px -22px 0px 12px;}
.feedback-widget a { color: #fff; font-style: normal; font-size: 120%; }
.feedback-widget a:visited {color: #fff;}
.feedback-widget:hover { background-color: #0A3A34; }
.rounded-small { -webkit-border-radius: 4px 4px; -moz-border-radius: 4px / 4px; -o-border-radius: 4px / 4px; -ms-border-radius: 4px / 4px; -khtml-border-radius: 4px / 4px; border-radius: 4px / 4px; }
.rounded-medium { -webkit-border-radius: 8px 8px; -moz-border-radius: 8px / 8px; -o-border-radius: 8px / 8px; -ms-border-radius: 8px / 8px; -khtml-border-radius: 8px / 8px; border-radius: 8px / 8px; }
.rounded-large { -webkit-border-radius: 12px 12px; -moz-border-radius: 12px / 12px; -o-border-radius: 12px / 12px; -ms-border-radius: 12px / 12px; -khtml-border-radius: 12px / 12px; border-radius: 12px / 12px; }

img {border: none;}
h1 {margin-bottom: 0; color: rgb(159, 0, 2); font-size: 12pt;}
h1 img {float: left;}
h2 {font-size: 250%;}
body h2 {font-size: 165%;}
a {text-decoration: none; color: #33c;}
a:hover {text-decoration: underline;}
a:visited {color: #939;}
a.help-link { display: inline-block; padding: 0; margin: 0; vertical-align: top; }
a.help-link img {display: none;}
.navigation-group:hover a.help-link img, li:hover a.help-link img, h3:hover a.help-link img { display: block; }
a.popup-link { }
a.popup-link:hover { text-decoration: none; border-bottom: 1px dotted; }

th {background-color: #74c4ab; border: none; color: #0a3a34;}
th a {color: #0a3a34;}
td {border: none;}


.count {color: #0a3a34;}
.clear {clear: both;}
.right {float: right;}
.left {float: left;}
.center {text-align: center;}
.info {color: gray;font-size: 70%;}
.italic {font-style: italic;}
.no_italic {font-style: normal;}
.nowrap {white-space: nowrap;}
.green {color: #115A50;}
.no_margin {margin: 0px !important;}


th.no_color {background-color: #fff;}
tr.odd {background-color: #EBECEE;}


#navbar {background-color: #74c4ab; text-align: right; color: #0a3a34; clear: both;line-height: 1.7em; margin: 0 -0.75em;}
#navbar a {color: #0a3a34; margin: 0; text-decoration: none; font-weight: bold; display: inline-block; padding: 2px 13px;}
#navbar a:hover {color: white; background-color: #0a3a34;}
#navbar a.breadcrumb {float: left; padding-left: 24px; margin-left: -14px; padding-right: 16px; border: 3px solid #fff; margin-top: -3px; background-color: #e9e9e9; color: #333;}
#navbar a.breadcrumb-home {position: relative;}
#navbar a.breadcrumb-general {background-color: #DDF5EE;}
#navbar a.breadcrumb-search {background-color: #DDE9EE;}
#navbar a.breadcrumb-browse {background-color: #EEF3DD;}
#navbar a.breadcrumb-query {background-color: #EEE3DD;}
#navbar a.breadcrumb-visualize {background-color: #DDE9EE;}
#navbar a.breadcrumb-unknown {background-color: #AA1111; color: #fff;}


.top_logo {height: 100px;}
.relation-name {font-style: italic;}

#search-forms, #data-browse, #data-query, #data-viz { border: 1px solid #999; overflow: hidden; } 
#search-forms { -moz-border-radius-topleft: 18px; border-top-left-radius: 18px; background-color: #eee3ee; border-color: #DCD; }
#data-browse { -moz-border-radius-topright: 18px; border-top-right-radius: 18px;  background-color: #eef3dd; /* #EED; */ border-color: #DDC; }
#data-query { -moz-border-radius-bottomleft: 18px; border-bottom-left-radius: 18px;    background-color: #eee3dd; border-color: #DCB; }
#data-viz { -moz-border-radius-bottomright: 18px; border-bottom-right-radius: 18px;   background-color: #DDE9EE; border-color: #CCDADD; }

.search-instructions {margin-top: 0; font-size: 80%; font-style: italic; line-height: 1.1em;}
#upperTermChoiceGroup {float: right; width: 33em; margin-right: 0; text-align: right; font-family: Helvetica, sans-serif;}
#upperSearchExamples {width: 43em; float: right; font-size: 75%; font-style: italic;}
#upperTermChoice {width: 17em;}
#sidebar {float: left; width: 30%;}
#sidebar .gfc-result { margin-bottom: 1em; }
#sidebar .gfc-result .gf-title { height: auto; font-weight: bold; }

#main {margin-left: 3px; margin-right: 3px;}
#search_sidebar {float: left; width: 30%; margin-top: 10px;}
#search_sidebar h4 {color: #115A50; margin-bottom: 10px;}
#search_main {float: right; width: 70%; margin-top: 10px;}
#footer {clear: both; margin-top: 1em; padding-top: 2em; font-size: 75%;}
#footer > div {color: #0a3a34; border-top: 5px solid #74c4ab;}
#footer p {padding-left: 0.35em; padding-right: 0.35em;}
#footer a {color: inherit;}

.sidebar-box { background-color: transparent; padding: 0.1em 1.0em; margin-top: 1em; border-left: 1px dotted #ccc;}
.sidebar-box h4 {margin-top: 0.5em;}

div#term_info {border: 3px solid #115A50; margin-left: 3px; margin-right: 1em;}
div#term_info .section {padding: 5px 10px 5px 5px;}
div#term_info .section.top_border {border-top: 3px solid #115A50;}
div#term_info div {margin-bottom: 0.25em;}
.term-info-header {background-color: #74c4ab; color: #0a3a34;}
div#term_info .header {font-weight: bold;font-size:120%;margin-bottom: 10px; padding: 5px;}
.term-info-field-label {font-weight: bold; color: #0a3a34;;}
#term_info .green_heading {color: #115A50; font-weight: bold; font-size: 17px; letter-spacing: -1px;}

div.search_area .section_heading {background-color: #115A50; color: white; margin-left: 3px; margin-right: 1em; padding: 3px 5px;}
div.search_area .section {border: 3px solid #115A50; margin-left: 3px; margin-right: 1em; margin-bottom: 15px; padding: 5px;}


.yui-skin-sam .yui-ac-input { position: static; width: 100%;}
.yui-skin-sam .yui-ac-container {max-height: 400px;}
#termComplete {max-height: 400px;}
.yui-skin-sam .yui-ac-content ul {max-height: 400px; overflow: scroll;}
.yui-ac-ft {color: red;}
#termForm {margin-left: auto; margin-right: auto;}
#search-forms #termChoice {width: 75% !important; margin-bottom: 0.5em;}
#termComplete {width: 75%;}
#termChoiceGroup { margin: 0.5em 0; }
#term-search-explanation { margin-top: 4px; color: #666; }
#term-search-prompt { font-size: 0.8em;   }
#ac_term_id { width: 200px; }

.tag-cloud {font-size: 8pt; }
.tag-cloud a {display: block; float: left; margin: -0.1em 0.25em -0.1em 0.25em; text-decoration: none;}
.tag-cloud a:hover {background-color: #74c4ab;}
.tag-cloud a:visited {color: #0a3a34;}
.tag-cloud a.entity-tag {color: #127e3f;}
.tag-cloud a.taxon-tag {color: #0f4081;}
.tag-cloud a.gene-tag {color: #7f7f00;}
.tag-cloud a.entity-tag:hover {background-color: #c4dfcf;}
.tag-cloud a.taxon-tag:hover {background-color: #c3cfdf;}
.tag-cloud a.gene-tag:hover {background-color: #dfdfbf;}

span.entity-tag {color: #127e3f;}
span.taxon-tag {color: #0f4081;}
span.gene-tag {color: #7f7f00;}

#search-forms {margin-left: auto; margin-right: auto;}
#search-forms h2 {}
#search-buttons {text-align: center;}
#search-buttons input {margin-left: 2em; margin-right: 2em;}

p.phenoscape-citation {font-style: italic;}


/* tree views */
.ygtvtable {width: 100%;}
/*.phenotype-block {float: right;}*/
.tree-depth-even .ygtvcontent {background-color: #ccc;}
.ygtvhighlight1 {background-color: none;}
div.tree-row {text-indent: -3em; margin-left: 3em;}

.squarebutton {border: 1px outset; border-right-color: #0a3a34; border-left-color: #45ae94; border-top-color: #a1d8c0; border-bottom-color: #000; text-transform: uppercase; font-size: 50%; font-family: verdana, sans-serif; padding: 0 3px; text-decoration: none; background-color: #74c4ab; color: white; margin: 0 0; letter-spacing: 1px; vertical-align: 2px;}
.squarebutton:hover {background-color: white; color: #0a3a34;}

.italic-taxon {font-style: italic;}
.extinct-taxon:after {content: " \2020"; font-style: normal;}

.homology-item, .citation-item {background-color: white; border: 2px solid #74c4ab; padding: 0.3em; margin-top: 0.5em; font-size: 85%;}
.homology-statement {font-weight: bold;}
.phenotype-statement-source {background-color: #9ed9c1; padding: 0.2em; font-weight: bold;}
.citation-item td.label {text-align: right;}


.filter_operator {color: #6B6868; font-weight: bold; font-style: normal;}
.any_or_all {font-size: 90%; font-weight: normal;}
.any_or_all input {vertical-align: top;}
#search_sidebar img {vertical-align: top;}
.section_indent {margin-left: 15px;}

table.search_results {width: 100%; border: 1px solid #ddd;}
table.search_results td, table.search_results th {text-align: center; padding: 6px 0px; font-size: 90%;}
table.search_results .less_padding th, table.search_results tr.less_padding td { padding: 2px 0px;}
table.search_results tr {height: 31px;}

.pagination {margin: 20px 0px 20px 0px; padding: 5px;}
.pagination div {float: left; width: 33%;}
.pagination div.results {text-align: center;}
.pagination div.previous, .pagination div.next {color: gray;}
.pagination div.next {text-align: right;}

.sort_column img {vertical-align: middle;}
.sort_column a {text-decoration: none;}
.sort_column a:hover {color: white;}
.sort_column:hover {background-color:#249B90;}

.tablesorter .headerSortDown:after { content: " " url("../images/up.png");}
.tablesorter .headerSortUp:after { content: " " url("../images/down.png");}

#phenotype_filter .including_parts {margin-left: 20px;}
#phenotype_filter .including_parts input {vertical-align: middle;}
#phenotype_filter .broaden_refine_link {font-size: 70%;}

table.popup_table th {background-color: white; color: black; text-align: right; font-weight: normal;}

.download_links {margin: 20px 0px 0px 10px; font-size: 90%;}
.download_links ul {margin: 0px; padding: 0px;}
.download_links li {margin: 2px 0px 2px 20px; padding: 0px;}

#annotation_source_popup .header {background-color: #74c4ab; margin-bottom: 15px;}
#annotation_source_popup .header .section {border-right: 1px solid white; float: left; padding: 10px 15px;}
#annotation_source_popup .source {padding: 15px 0px;}
#annotation_source_popup .source.dotted_border {border-top: 2px dotted black;}
#annotation_source_popup .subheader {background-color: #74c4ab; margin: 0px 20px 10px 20px; font-size: 80%;}
#annotation_source_popup .subheader .section {border-right: 1px solid white; float: left; padding: 4px 5px;}
#annotation_source_popup .source .character_state {margin-top: 5px;}
#annotation_source_popup .source .character_state th {background-color: white;font-weight: normal; text-align: left;}

#related_query_links {margin: 15px 0px 0px 15px;}
#related_query_links ul {margin: 0px 0px 0px 10px; padding: 0px;}
#related_query_links li {margin: 2px 0px 2px 20px; padding: 0px;}

#term .header { margin: 15px 0px 3px 0px; color: #006f5f;}
#term .header span.is-content { color: #000; }
#term .subheader { margin: 3px 0px; color: #006f5f;}
#term .subheader span.is-content { color: #000; }
#term .tree_frame {float: left; width: 350px; border: 1px solid #74c4ab; padding: 1px;}
#term #tree_container {height: 400px; padding: 9px 4px 9px 9px; overflow: scroll;}
#term #info_container {margin-left: 400px;}
#term .section {margin-bottom: 18px;}
#term .section h3 {border-bottom: 1px solid #74c4ab; color: #005544; padding: 2px 0px; font-size: 110%; margin: 0px 0px 10px 0px;}
/* BLOCK-STYLE VERSION: 
#term .section h3 {border-bottom: 1px solid #74c4ab; color: #0a3a34; padding: 4px 4px 2px; font-size: 110%; margin: 0px 0px 10px 0px; background-color: #ddf5ee;}
*/
#term .section strong {color: #005544;}
#term .section .content {margin-left: 10px;}

.term_link {color: #33c;}
.term_link:hover {text-decoration: underline; cursor: pointer;}
a.toggle_link {text-decoration: none; color: #0a3a34; font-size: 70%; float: right;}
a.toggle_link:hover {text-decoration: underline;}

.term_tooltip {margin: 5px;}
.term_tooltip .header {color: #115A50; font-weight: bold; font-size: 115%; margin-bottom: 10px;}
.term_tooltip strong {color: #0a3a34;}

.synonym-scope {color: #999;}
.post-composable {color: #666;}
.kb-help {font-size: 70%; color: #33c;}

.ui-tabs-nav a {color: #0A3A34 !important;}
.ui-tabs-panel {font-family: Helvetica, sans-serif; font-size: 17px;}



.tableBoxOuter {width:99%; height: 500px; background: #FFFFFF;}
.tableBoxOuter table {border-collapse: collapse;}
.scrolltable td, .scrolltable th {font-size: 12px; margin: 0em; padding: 4px; table-layout: automatic; white-space: nowrap; border: 1px solid gray; min-height: 30px;}
.tableBoxOuter .top_left_cell {border-right: 1px solid gray; border-bottom: 1px solid gray;}
.tableBoxOuter .first_col a {color: #33c;}

.facet_header {margin-bottom:0px; margin-top: 10px;}
.facet_item.active {font-weight: bold;}
.facet_item.active a{color: black;}
.facet_item .facet_count {color: gray;}

#workspace .section.disabled,#workspace .section.disabled * {color: gray !important;}
#workspace .term:hover {
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(0.05, #FFFFFF),
    color-stop(0.51, #74C4AB)
  );
  background-image: -moz-linear-gradient(
    right center,
    #FFFFFF 5%,
    #74C4AB 51%
  );
  background-color: #74c4ab;
}

#tree {
  border: 2px solid #115A50;
  height: 550px;
  overflow: hidden;
}

#tree-canvaswidget {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#tree-loading {
  color: white;
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 64px;
  font-weight: bold;
  margin: 10px 30px;
  position: absolute;
  z-index: 2;
}

#tree-empty {
  background-color: white;
  border: 3px solid black;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  font-size: 18px;
  font-style: italic;
  margin: 100px;
  padding: 30px 20px;
  position: absolute;
  z-index: 1;
}

#tree-key {
  margin-top: 10px;
  position: absolute;
  right: 20px;
  white-space: nowrap;
  z-index: 1;
}

#tree-key .key {
  border: 3px solid black;
  margin: 5px auto;
  width: 60px;
}

#tree-key .key .cell {
  padding: 5px;
  font-weight: bold;
  text-align: center;
}