/*
td {padding-left: 0.5em;}
td.or {text-align: center;}
tr.odd {background-color: #6c9;}
table.annotations {border: 2px solid #033; width: 100%;}
table.annotations th {font-size: 125%; color: white; background-color: #033; text-decoration: none;}
table.annotations th a {color: white; background-color: #033; text-decoration: none;}

.sortarrow img {border: none;}
*/

h1 img {border: none; float: left;}
.top_logo {height: 100px;}
#navbar {background-color: #74c4ab; text-align: right; color: #0a3a34; clear: both;}
#navbar a {color: inherit; margin: 0.5em;}
.clear {clear: both;}
body {font-family: Helvetica, sans-serif;}
th {background-color: #74c4ab; border: none; color: #0a3a34;}
th a {color: inherit;}
td {border: none;}
tr.odd {background-color: #ccc;}
.relation-name {font-style: italic;}

.search-label {font-weight: bold; margin-bottom: 0;}
#upperTermForm {text-align: right;}
#upperTermChoiceGroup {float: right; width: 25%;}
#sidebar {float: left; width: 30%;}
#main {margin-left: 3px; margin-right: 3px;}
#footer {clear: both; margin-top: 1em; padding-top: 2em; font-size: 75%;}
#footer > div {background-color: #74c4ab; color: #0a3a34;}
#footer p {padding: 0.35em;}
#footer a {color: inherit; margin: 0.5em;}

#wiki-advertisement {float: right; width: 10em; margin: 0.5em; border: 2px solid #0a3a34; background-color: #74c4ab; padding: 0.25em;}

h2 {font-size: 250%;}

div#term_info {border: 4px solid #74c4ab; margin-left: 3px; padding: 3px;}
.term-info-header {background-color: #74c4ab; color: #0a3a34;}
.term-info-field-label {font-weight: bold; color: #0a3a34;;}

.yui-skin-sam .yui-ac-input { position: static; width: 100%;}
.yui-skin-sam .yui-ac-container {max-height: 400px;}
#termComplete {max-height: 400px;}
.yui-skin-sam .yui-ac-content ul {max-height: 400px; overflow: scroll;}
.yui-ac-ft {color: red;}

.tag-cloud {font-size: 8pt; }
.tag-cloud a {display: block; float: left; margin: -0.1em 0.25em -0.1em 0.25em; text-decoration: none;}
.tag-cloud a:hover {background-color: #74c4ab;}
.tag-cloud a:visited {color: #0a3a34;}
.tag-cloud a.entity-tag {color: #127e3f;}
.tag-cloud a.taxon-tag {color: #0f4081;}
.tag-cloud a.gene-tag {color: #7f7f00;}
.tag-cloud a.entity-tag:hover {background-color: #c4dfcf;}
.tag-cloud a.taxon-tag:hover {background-color: #c3cfdf;}
.tag-cloud a.gene-tag:hover {background-color: #dfdfbf;}

#search-forms {width: 80%; margin-left: auto; margin-right: auto;}
#search-forms h2 {}
#search-buttons {text-align: center;}
#search-buttons input {margin-left: 2em; margin-right: 2em;}

p.phenoscape-citation {font-style: italic;}


/* tree views */
.ygtvtable {width: 100%;}
/*.phenotype-block {float: right;}*/
.tree-depth-even .ygtvcontent {background-color: #ccc;}
.ygtvhighlight1 {background-color: none;}
div.tree-row {text-indent: -3em; margin-left: 3em;}

.squarebutton {border: 1px outset; border-right-color: #0a3a34; border-left-color: #45ae94; border-top-color: #a1d8c0; border-bottom-color: #000; text-transform: uppercase; font-size: 50%; font-family: verdana, sans-serif; padding: 0 3px; text-decoration: none; background-color: #74c4ab; color: white; margin: 0 0; letter-spacing: 1px; vertical-align: 2px;}
.squarebutton:hover {background-color: white; color: #0a3a34;}

.italic-taxon {font-style: italic;}