<% if total > 0 %>
  <div class='download_links'>
    Download all <%= pluralize(total, 'result') %> as: <%= help_link "File formats (for data downloads)" %>
	
    <ul>
      <li><%= link_to 'plain text (tab-delimited for Excel)', :action => :download, :media => 'text', :filter => params[:filter] %></li>
      <li><%= link_to 'JSON (Javascript object notation)', :action => :download, :media => 'json', :filter => params[:filter] %></li>
    </ul>
  </div>
<% end %>