<% phenotypic_profile_tree ||= false %>
	<select id='related_query_links' onchange="performRelatedQuery(this);">
    <% if phenotypic_profile_tree %>
  		<option value="/phenotypes/profile_tree">Phenotypic profile tree</option>
  	<% end %>
		<option <% unless controller.controller_name == 'phenotypes' %>value="/phenotypes" <% else %> value="" selected="selected" <% end %>>Phenotypes</option>
		<option <% unless controller.controller_name == 'taxon_annotations' %>value="/taxon_annotations" <% else %> value="" selected="selected" <% end %>>Phenotype annotations to taxa</option>
		<option <% unless controller.controller_name == 'taxa' %>value="/taxa" <% else %> value="" selected="selected" <% end %>>Taxa</option>
		<option <% unless controller.controller_name == 'gene_annotations' %>value="/gene_annotations" <% else %> value="" selected="selected" <% end %>>Phenotype annotations to genes</option>
		<option <% unless controller.controller_name == 'genes' %>value="/genes" <% else %> value="" selected="selected" <% end %>>Genes</option>
		<option <% unless controller.controller_name == 'publications' %>value="/publications" <% else %> value="" selected="selected" <% end %>>Comparative publications</option>
	</select>
