<div class='section'>
  <h3>Data in the Knowledgebase</h3>
  <div class='content'>
    <% seach_params = search_params_for_term(term_type, term_id) %>
	<% unless controller.action_name == 'gene' %>
    <%= link_to 'Phenotype annotations to taxa', :controller => :taxon_annotations, :action => :index, :params => seach_params %><br />
	<% end %>
	<% unless controller.action_name == 'taxon' %>
    <%= link_to 'Phenotype annotations to genes', :controller => :gene_annotations, :action => :index, :params => seach_params %><br />
	<% end %>
	<% unless controller.action_name == 'gene' %>
    <%= link_to 'Comparative publications', :controller => :publications, :action => :index, :params => seach_params %>
	<% end %>
  </div>
</div>