<div class="dialog">
	<h1>We're sorry, but something went wrong.</h1>
	<p>We've been notified about this issue and we'll take a look at it shortly. Please send us <a href="mailto:<%= obscure_email("help@phenoscape.org") %>">an email</a> if you would like to report a bug.</p>
</div>
