<h2>Bibliography of phylogenetic papers for Ostariophysi used as sources for the Phenoscape Knowledgebase</h2>
<ul>
	<li>Albert, J. S. 2001. Species Diversity and Phylogenetic systematics of American Knifefishes (Gymnotiformes, Teleostei). Miscellaneous Pulbications, Museum of Zoology, University of Michigan no. 190:140 pages.</li>

	<li>Armbruster, J. W. 2004. Phylogenetic relationships of the suckermouth armoured catfishes (Loricariidae) with emphasis on the Hypostominae and the Ancistrinae. Zoological Journal of the Linnean Society 141:1-80.</li>

	<li>Arratia, G. 1999. The monophyly of Teleostei and stem-group teleosts. Consensus and disagreements. Pages 265-334 in Mesozoic Fishes 2- Systematics and Fossil Record (G. Arratia, and H.-P. Schultze, eds.). Verlag Dr. F. Pfeil, Munchen.</li>

	<li>Bockmann, F. A. 1998. Análise Filogenética da Família Heptapteridae (Teleostei, Ostariophysi, Siluriformes) e Redefenição de seus GênerosUniversidade de São Paulo, São Paulo.</li>

	<li>Bornbusch, A. H. 1995. Phylogenetic relationships within the Eurasian catfish family Siluridae (Pisces: Siluriformes), with comments on generic validities and biogeography. Zoological Journal of the Linnean Society 115:1-46.</li>

	<li>Britto, M. R. 2003. Phylogeny of the subfamily Corydoradinae Hoedeman, 1952 (Siluriformes: Callichthyidae), with a definition of its genera. Proceedings of the Academy of Natural Sciences, Philadelphia 153:119-154.</li>

	<li>Buckup, P. A. 1998. Relationships of the Characidiinae and phylogeny of characiform fishes (Teleostei: Ostariophysi). Pages 123-144 in Phylogeny and Classification of Neotropical Fishes (L. R. Malabarba, R. E. Reis, R. P. Vari, Z. M. S. Lucena, and C. A. S. Lucena, eds.). EDIPUCRS, Porto Alegre, Brazil.</li>

	<li>Cavender, T. M., and M. M. Coburn. 1992. Phylogenetic relationships of North American Cyprinidae. Pages 293-327 in Systematics, Historical Ecology, and North American Freshwater Fishes (R. L. Mayden, ed.) Stanford University Press, Stanford.</li>

	<li>Chang, M. M., and J. G. Maisey. 2003. Redescription of Ellimma branneri and Diplomystus shengliensis, and relationships of some basal Clupeomorphs. American Museum Novitates 3404:1-35.</li>

	<li>Chen, X.-P. 1994. Phylogenetic studies of the amblycipitid catfishes (Teleostei, Siluriformes) with species accounts. Duke University, Durham.</li>

	<li>Coburn, M. M., and T. M. Cavender. 1992. Interrelationships of North American cyprinid fishesin Systematics, Historical Ecology, and North American Freshwater Fishes (R. L. Mayden, ed.) Stanford University Press, Stanford, California.</li>

	<li>de Pinna, M. C. C. 1993. Higher-level Phylogeny of Siluriformes (Teleostei: Ostariophysi), with a New Classification of the OrderCity University of New York, New York.</li>

	<li>de Pinna, M. C. C. 1996. A phylogenetic analysis of the Asian catfish families Sisoridae, Akysidae, and Amblycipitidae, with a hypothesis on the relationships of the neotropical Aspredinidae (Teleostei, Ostariophysi). Fieldiana: Zoology (New Series) 84:i iv + 1-83.</li>

	<li>de Pinna, M. C. C., C. J. J. Ferraris, and R. P. Vari. 2007. A phylogenetic study of the neotropical catfish family Cetopsidae (Osteichthys, Ostariophysi, Siluriformes), with a new classification. Zoological Journal of the Linnean Society 150:755-813.</li>

	<li>Di Dario, F. 1999. Filogenia de Pristigasteroidea (Teleostei, Clupeomorpha). Pages 465 in Departamento de Zoologia Universidade de São Paulo, São Paulo.</li>

	<li>Di Dario, F. 2004. Relações filogenéticas entre os grandes grupos de Clupeomorpha e suas possíveis relações com Ostariophysi (Actinopterygii, Teleostei). Pages 246 in Departamento de Zoologia Universidade de São Paulo, São Paulo.</li>

	<li>Fang, F. 2003. Phylogenetic analysis of the Asian Cyprinid genus Danio (Teleostei, Cyprinidae). Copeia 2003:714-728.</li>

	<li>Fink, S. V., and W. L. Fink. 1981. Interrelationships of the Ostariophysan fishes (Teleostei). Zoological Journal of the Linnean Society 72:297-353.</li>

	<li>Friel, J. P. 1994. A Phylogenetic Study of the Neotropical Banjo Catfishes (Teleostei: Siluriformes: Aspredinidae)Duke University, Durham.</li>

	<li>Grande, T., and L. Grande (eds) 2008. Reevaluation of the gonorynchiform genera Ramallichthys, Judeichthys and Notogoneus, with comments on the families Charitosomidae and Gonorynchidae. Verlag Dr. Friedrich Pfeil, München, Germany.</li>

	<li>Grande, T., H. Laten, and J. López. 2004. Phylogenetic relationships of extant esocid species (Teleostei: Salmoniformes) based on morphological and molecular characters. Copeia 2004:743-757.</li>

	<li>Grande, T., and F. J. Poyato-Ariza. 1999. Phylogenetic relationships of fossil and Recent gonorynchiform fishes (Teleostei: Ostariophysi). Zoological Journal of the Linnean Society 125:197-238.</li>

	<li>Johnson, G. D., and C. Patterson. 1993. Percomorph phylogeny: a survey of acanthomorphs and a new proposal. Bulletin of Marine Science 52:554-626.</li>

	<li>Kailola, P. J. 2004. A phylogenetic exploration of the catfish family Ariidae (Otophysi; Siluriformes). The Beagle, Records of the Museums and Art Galleries of the Northern Territory 20:87-166.</li>

	<li>Lucena, C. A. S., and N. A. Menezes. 1998. A phylogenetic analysis of Roestes Günther and Gilbertolus Eigenmann with a hypothesis on the relationships of the Cynodontidae and Acestrorhynchidae (Teleostei, Ostariophysi, Characiformes). Pages 261-278 in Phylogeny and Classification of Neotropical Fishes (L. R. Malabarba, R. E. Reis, R. P. Vari, Z. M. S. Lucena, and C. A. S. Lucena, eds.). EDIPUCRS, Porto Alegre, Brazil.</li>

	<li>Lundberg, J. G. 1992. The phylogeny of ictalurid catfishes: A synthesis of recent work. Pages 392-420 in Systematics, Historical Ecology, and North American Freshwater Fishes (R. L. Mayden, ed.) Stanford University Press, Stanford.</li>

	<li>Malabarba, L. R. 1998. Monophyly of the Cheirodontinae, Characters and Major Clades (Ostariophysi: Characidae). Pages 193-234 in Phylogeny and Classification of Neotropical Fishes (L. R. Malabarba, R. E. Reis, R. P. Vari, Z. M. S. Lucena, and C. A. S. Lucena, eds.). EDIPUCRS, Porto Alegre,</li>
	<li>Brazil.</li>

	<li>Mayden, R. L. 1989. Phylogenetic studies of North American minnows, with emphasis on the genus Cyprinella (Teleostei: Cypriniformes). University of Kansas Museum of Natural History Miscellaneous Publications 80:1-189.</li>

	<li>Mo, T. 1991. Anatomy, Relationships and Systematics of the Bagridae (Teleostei: Siluroidei) with a Hypothesis of Siluroid Phylogeny, Koeltz, Koenigstein.</li>

	<li>Poyato-Ariza, F. J. 1996. A revision of the ostariophysan fish family Chanidae, with special reference to the Mesozoic forms. Palaeo Ichthyologica 6:1-52.</li>

	<li>Rapp Py-Daniel, L. H. 1997. Phylogeny of the Neotropical Armored Catfishes of the subfamily Loricariinae (Siluriformes; Loricariidae). Pages 280 University of Arizona.</li>

	<li>Royero, R. 1999. Studies on the systematics and phylogeny of the catfish family Auchenipteridae (Teleostei: Siluriformes)University of Bristol, Bristol.</li>

	<li>Sanger, T. J., and A. R. McCune. 2002. Comparative osteology of the Danio (Cyprinidae: Ostariophysi) axial skeleton with comments on Danio relationships based on molecules and morphology. Zoological Journal of the Linnean Society 135:529-546.</li>

	<li>Sawada, Y. 1982. Phylogeny and zoogeography of superfamily Cobitoidea (Cyprinoidei, Cypriniformes). Mem. Fac. Fish. Hokkaido Univ. 28:65-223.</li>

	<li>Schaefer, S. A. 1987. Osteology of Hypostomus plecostomus (Linnaeus), with a phylogenetic analysis of the loricariid subfamilies (Pisces: Siluriformes). Contributions in Science, Los Angeles County Museum:1-31.</li>

	<li>Schaefer, S. A. 1991. Phylogenetic analysis of the loricariid subfamily Hypoptopomatinae (Pisces: Siluroidei: Loricariidae), with comments on generic diagnoses and geographic distribution. Zoological Journal of the Linnean Society 102:1-41.</li>

	<li>Shibatta, O. A. 1998. Sistemática e Evolução da Família Pseudopimelodidae (Ostariophysi, Siluriformes), com a Revisão Taxonômica de Gênero PseudopimelodusUniversidade Federal São Carlos, São Paulo.</li>

	<li>Sidlauskas, B. L., and R. P. Vari. 2008. Phylogenetic relationships within the South American fish family Anostomidae (Teleostei, Ostariophysi, Characiformes). Zoological Journal of the Linnean Society 154:70-210.</li>

	<li>Siebert, D. H. 1987. Interrelationships among families of the order Cypriniformes (Teleostei)City University of New York, New York, New York.</li>

	<li>Smith, G. R. 1992. Phylogeny and biogeography of the Catostomidae, freshwater fishes of North America and Asia. Pages 778-826 in Systematics, Historical Ecology, and North American Freshwater Fishes (R. L. Mayden, ed.) Stanford University Press, Stanford, CA.</li>

	<li>Soares-Porto, L. M. 1998. Monophyly and interrelationships of the Centromochlinae (Siluriformes: Auchenipteridae). Pages 331-350 in Phylogeny and Classification of Neotropical Fishes (L. R. Malabarba, R. E. Reis, R. P. Vari, Z. M. S. Lucena, and C. A. S. Lucena, eds.). Edipucrs, Porto Alegre.</li>

	<li>Toledo-Piza, M. 2000. The Neotropical fish subfamily Cynodontinae (Teleostei: Ostariophysi: Characiformes): A phylogenetic study and revision of Cynodon and Rhaphiodon. American Museum Novitates 3286:1-88.</li>

	<li>Toledo-Piza, M. 2007. Phylogenetic relationships among Acestrorhynchus species (Ostariophysi: Characiformes: Acestrorhynchidae). Zoological Journal of the Linnean Society 151:691-757.</li>

	<li>Vari, R. P. 1995. The Neotropical Fish Family Ctenoluciidae (Teleostei: Ostariophysi: Characiformes): Supra and Intrafamilial Phylogenetic Relationships, with a Revisionary Study. Smithsonian Contributions to Zoology 564:1-97.</li>

	<li>Vari, R. P., and A. S. Harold. 2001. Phylogenetic study of the neotropical fish genera Creagrutus Günther and Piabina Reinhardt (Teleostei: Ostariophysi: Characiformes), with a revision of the cis-Andean species. Smithsonian Contributions to Zoology 613:v+1-239.</li>

	<li>Vigliotta, T. R. 2008. A phylogenetic study of the African catfish family Mochokidae (Osteichthyes, Ostariophysi, Siluriformes), with a key to its genera. Proceedings of the Academy of Natural Sciences, Philadelphia 157:73-136.</li>

	<li>Weitzman, S. H., and N. A. Menezes. 1998. Relationships of the tribes and genera of the Glandulocaudiinae (Ostariophysi: Characiformes: Characidae), with a description of a new genus. Pages 171-192 in Phylogeny and Classification of Neotropical Fishes (L. R. Malabarba, R. E. Reis, R. P.</li>

	<li>Vari, Z. M. S. Lucena, and C. A. S. Lucena, eds.). EDIPUCRS, Porto Alegre.</li>

	<li>Zanata, A. M., and R. P. Vari. 2005. The family Alestidae (Ostariophysi, Characiformes): a phylogenetic analysis of a trans-Atlantic clade. Zoological Journal of the Linnean Society 145:1-144.</li>

	<li>Zaragueta Bagils, R. 2004. Basal clupeomorphs and ellimmichthyiform phylogeny. Pages 391-404 in Mesozoic Fishes 3 - Systematics, Paleoenvironments and Biodiversity (G. Arratia, and A. Tintori, eds.). Verlag Dr. F. Pfeil, Munich.</li>
</ul>