<h2>About the Phenoscape Knowledgebase</h2>
<p>The Phenoscape Knowledgebase is an expert system that enables the broad scale analysis of phenotypic variation across taxa and the co-analysis of these evolutionarily variable features with the phenotypic mutants of model organisms.</p>
<h3>Rationale</h3>
<p>Decades of comparative anatomical studies have resulted in a rich body of "free-text" data.  As these data grow, they are increasingly hard to align and synthesize across taxonomic groups, and synthetic questions concerning the developmental and genetic basis of evolutionary changes in morphology cannot be easily or efficiently addressed. To analyze this volume of comparative anatomical data in a developmental genetic context, it must first be rendered computable.  This can be achieved using ontologies, constrained structured vocabularies with logical relationships among terms.</p>
<h3>Data</h3>
<p>With the broader ichthyological community, we have developed two ontologies, the Teleost Anatomy Ontology and the Teleost Taxonomy Ontology that were used along with several other ontologies to represent systematic characters.  To date, over 4,500 characters from a comprehensive set of phylogenetic papers for Ostariophysi (a monophyletic group of ~8,300 teleost fishes) were represented using combinations of ontology terms and software for data curation (Phenex).</p>
<p>PhenoscapeKB combines these evolutionary phenotypes with information about genetically characterized phenotype from zfin.org, the zebrafish community database. Through ontology-based reasoning over expert knowledge in taxonomy, comparative anatomy and developmental genetics, PhenoscapeKB can be used to address a host of questions spanning the domains of genetics, development and evolutionary biology, such as the nature of the genetic changes underlying phenotypic variation among taxa in nature.</p>
<p>We are working on making Knowledgebase data downloads available in NeXML and spreadsheet (tab-delimited) formats. Some background on the data repository can be found <a href="https://www.phenoscape.org/wiki/Phenoscape_data_repository">here</a>. Source data files can be downloaded directly from our <a href="http://phenoscape.svn.sourceforge.net/viewvc/phenoscape/trunk/data/phenex-files/">Subversion repository</a>.
<h3>More Information</h3>
<p>For further information about the Phenoscape project and project partners, please see our <a href="https://www.phenoscape.org/wiki/Main_Page">project wiki</a>.</p>
<h3>Technology</h3>
<h4>Database and web services</h4>
	<ul>
		<li>Database: <a href="http://www.postgresql.org/">PostgreSQL</a></li>
		<li>OBD - todo</li>
		<li>Programming language: <a href="http://java.sun.com/">Java</a></li>
		<li>Web Services framework: <a href="http://www.restlet.org/">Restlet</a></li>
	</ul>
<h4>Web application</h4>
	<ul>
		<li>Programming language: <a href="http://www.ruby-lang.org/">Ruby</a></li>
		<li>Web framework: <a href="http://rubyonrails.org/">Ruby on Rails</a></li>
	</ul>
	
<h3>Source Code</h3>
<ul>
	<li>OBD (database schema, Java API, and web services): <a href="http://obo.svn.sourceforge.net/viewvc/obo/">http://obo.svn.sourceforge.net/viewvc/obo/</a></li>
	<li>Web application: <a href="http://phenoscape.svn.sourceforge.net/viewvc/phenoscape/trunk/src/PhenoscapeWeb/">http://phenoscape.svn.sourceforge.net/viewvc/phenoscape/trunk/src/PhenoscapeWeb/</a></li>
</ul>

<h3>Publications</h3>
<ul>
	<li>Dahdul, W.M., Lundberg, J.G., Midford, P.E., Balhoff, J.P., Lapp, H., Vision, T.J., Haendel, M.A., Westerfield, M., Mabee, P.M. (in press).  The Teleost Anatomy Ontology: Anatomical Representation for the Genomics Age. Systematic Biology.</li>
	<li>Haendel, M.A., Neuhaus, F., Osumi-Sutherland, D.S., Mabee, P.M., Mejino J.L.V., Mungall, C.J., and Smith, B. (2008) <a href="http://www.phenoscape.org/images/9/91/Caroreprint.pdf">CARO - The Common Anatomy Reference Ontology</a>. <i>In:</i> Albert Burger, Duncan Davidson and Richard Baldock (Editors): <i>Anatomy Ontologies for Bioinformatics: Principles and Practice</i>. <a href="http://www.phenoscape.org/wiki/index.php?title=Special:Booksources&amp;isbn=9781846288845">ISBN 978-1-84628-884-5</a>.</li>
	<li>Mabee PM, Ashburner M, Cronk Q, Gkoutos GV, Haendel M, Segerdell E, Mungall C, and Westerfield M. Phenotype ontologies: the bridge between genomics and evolution. Trends Ecol Evol 2007 Jul; 22(7) 345-50. <a href="http://dx.doi.org/10.1016/j.tree.2007.03.013">doi:10.1016/j.tree.2007.03.013</a></li>
	<li> Mabee PM, Arratia G, Coburn M, Haendel M, Hilton EJ, Lundberg JG, Mayden RL, Rios N, and Westerfield M. Connecting evolutionary morphology to genomics using ontologies: a case study from Cypriniformes including zebrafish. J Exp Zoolog B Mol Dev Evol 2007 Jun 28. <a href="http://dx.doi.org/10.1002/jez.b.21181">doi:10.1002/jez.b.21181</a></li>
	<li><a href="http://www.phenoscape.org/wiki/Publications_and_Posters">More publications.</a></li>
</ul>

<h3>Contact</h3>
<p>For questions about the database or interface, please contact Phenoscape help at the National Evolutionary Synthesis Center: <a href="mailto:<%= obscure_email("help@phenoscape.org") %>">Email us</a></p>
<p>For questions about the Phenoscape project, contact the PI, Paula Mabee, by <a href="mailto:<%= obscure_email("pmabee@usd.edu") %>">email</a> or phone: 605-677-6171</p>
