<h2>About the Phenoscape Knowledgebase</h2>

<h3>Phenoscape</h3>

<h3>Data</h3>

<h3>Technology</h3>
<h4>Database and web services</h4>
	<ul>
		<li>Database: <a href="http://www.postgresql.org/">PostgreSQL</a></li>
		<li>OBD - todo</li>
		<li>Programming language: <a href="http://java.sun.com/">Java</a></li>
		<li>Web Services framework: <a href="http://www.restlet.org/">Restlet</a></li>
	</ul>
<h4>Web application</h4>
	<ul>
		<li>Programming language: <a href="http://www.ruby-lang.org/">Ruby</a></li>
		<li>Web framework: <a href="http://rubyonrails.org/">Ruby on Rails</a></li>
	</ul>
	
<h3>Source Code</h3>
	<ul>
		<li>OBD (database schema, Java API, and web services): <a href="http://obo.svn.sourceforge.net/viewvc/obo/">http://obo.svn.sourceforge.net/viewvc/obo/</a></li>
		<li>Web application: <a href="http://phenoscape.svn.sourceforge.net/viewvc/phenoscape/trunk/src/PhenoscapeWeb/">http://phenoscape.svn.sourceforge.net/viewvc/phenoscape/trunk/src/PhenoscapeWeb/</a></li>
	</ul>

<h3>Publications</h3>
	<ul>
		<li>Haendel, M.A., Neuhaus, F., Osumi-Sutherland, D.S., Mabee, P.M., Mejino J.L.V., Mungall, C.J., and Smith, B. (2008) <a href="http://www.phenoscape.org/images/9/91/Caroreprint.pdf">CARO - The Common Anatomy Reference Ontology</a>. <i>In:</i> Albert Burger, Duncan Davidson and Richard Baldock (Editors): <i>Anatomy Ontologies for Bioinformatics: Principles and Practice</i>. <a href="http://www.phenoscape.org/wiki/index.php?title=Special:Booksources&amp;isbn=9781846288845">ISBN 978-1-84628-884-5</a>.</li>
		<li>Mabee PM, Ashburner M, Cronk Q, Gkoutos GV, Haendel M, Segerdell E, Mungall C, and Westerfield M. Phenotype ontologies: the bridge between genomics and evolution. Trends Ecol Evol 2007 Jul; 22(7) 345-50. <a href="http://dx.doi.org/10.1016/j.tree.2007.03.013">doi:10.1016/j.tree.2007.03.013</a></li>
		<li> Mabee PM, Arratia G, Coburn M, Haendel M, Hilton EJ, Lundberg JG, Mayden RL, Rios N, and Westerfield M. Connecting evolutionary morphology to genomics using ontologies: a case study from Cypriniformes including zebrafish. J Exp Zoolog B Mol Dev Evol 2007 Jun 28. <a href="http://dx.doi.org/10.1002/jez.b.21181">doi:10.1002/jez.b.21181</a></li>
		<li><a href="http://www.phenoscape.org/wiki/Publications_and_Posters">More publications.</a></li>
	</ul>

<h3>Contact</h3>
<p>Phenoscape welcomes input from the community.  Please send any comments or questions about the web interface or data content of the Knowledgebase to:</p>
<ul>
	<li><a id="mailto" href="mailto:<%= obscure_email("help@phenoscape.org") %>"><%= obscure_email("help@phenoscape.org") %></a></li>
</ul>
