<h2>Explanation of relationship types</h2>

<p>Various relationships and their reciprocal types are shown between anatomical structures.</p>
<dl>
	<dt>Has subtype and is a type of</dt>
	<dd>Structure B is a type of structure A. Structure A has subtypes B and C.<br>
   parrot is a type of: bird<br>
   bird has type: parrot, eagle, pigeon</dd>
	<dt>Is part of and has part</dt>
	<dd>Structure B is a part of structure A during the time at which they both exist. Structure A may have a part B during the time at which they both exist.<br>
   leaf is part of: tree<br>
   tree has part: leaf, trunk, root</dd>
	<dt>Overlaps</dt>
	<dd>TODO</dd>
	<dt>Develops from and develops into</dt>
	<dd>Structure A develops from structure B. Structure B develops into structure A. There can be a one to one, one to many, or many to one correspondence. For example, Structure A develops from structure B and C, or structure A develops into structure B and C.<br>
   cheese develops from: milk, bacteria<br>
   milk develops into: cheese, yogurt, ice cream</dd>
</dl>
These relationships are representations of formal types described by the <a href="http://www.bioontology.org/wiki/index.php/RO:Main_Page">OBO-REL ontology</a>.