<h2>Contact Phenoscape</h2>

<p>Phenoscape welcomes input from the community.  Please send any comments or questions about the web interface or data content of the Knowledgebase to:</p>
<ul>
	<li><a id="mailto" href="mailto:<%= obscure_email("help@phenoscape.org") %>"><%= obscure_email("help@phenoscape.org") %></a></li>
</ul>
