<h2>Contact Phenoscape</h2>

<p>Phenoscape welcomes input from the community.  Please send any comments or questions about the web interface or data content of the Knowledgebase to:</p>
<ul>
	<li><a href="mailto:help@phenoscape.org">help@phenoscape.org</a></li>
</ul>