<h2>Acknowledgments</h2>
<h3>Contributors</h3>
<p>The following individuals have contributed to Phenoscape ontology development, data curation, workshops, and data entry:</p>
<h4>Teleost Anatomy Ontology Contributors</h4>
<ul>
<li>Gloria Arratia, The University of Kansas</li>
<li>David Blackburn, University of Kansas</li>
<li>Miles Coburn, John Carroll University</li>
<li>Kevin Conway, St. Louis University</li>
<li>Wasila Dahdul, University of South Dakota</li>
<li>Mário de Pinna, Universidade de São Paulo</li>
<li>Alexander Diehl, The Jackson Laboratory</li>
<li>Jeff Engeman, University of South Dakota</li>
<li>Terry Grande, Loyola University, Chicago</li>
<li>Melissa Haendel, Zebrafish Information Network</li>
<li>Brian Hall, Dalhousie University</li>
<li>Eric Hilton, Virginia Institute of Marine Science</li>
<li>John Lundberg, The Academy of Natural Sciences, Philadelphia</li>
<li>Paula Mabee, University of South Dakota</li>
<li>Richard Mayden, St. Louis University</li>
<li>Martin Ringwald, The Jackson Laboratory</li>
<li>Mark Sabaj Pérez, The Academy of Natural Sciences, Philadelphia</li>
<li>Erik Segerdell, University of Calgary</li>
<li>Brian Sidlauskas, Oregon State University</li>
<li>Sandrine Tercerie, Muséum National d'Histoire Naturelle</li>
<li>Ceri Van Slyke, Zebrafish Information Network</li>
<li>Richard Vari, National Museum of Natural History, Smithsonian Institution</li>
<li>Matt Vickaryous, University of Guelph</li>
<li>Jacqueline Webb, University of Rhode Island</li>
<li>Edward Wiley, The University of Kansas</li>
</ul>
<h4>Teleost Taxonomy Ontology Contributors</h4>
<ul>
<li>Nicolas Bailly, WorldFish Center, Philippines</li>
<li>Stan Blum, California Academy of Sciences</li>
<li>Miles Coburn, John Carroll University</li>
<li>Kevin Conway, St. Louis University</li>
<li>Wasila Dahdul, University of South Dakota</li>
<li>Bill Eschmeyer, California Academy of Sciences</li>
<li>Rainer Froese, Leibniz-Institute of Marine Sciences</li>
<li>Terry Grande, Loyola University, Chicago</li>
<li>Eric Hilton, Virginia Institute of Marine Science</li>
<li>John Lundberg, The Academy of Natural Sciences, Philadelphia</li>
<li>Richard Mayden, St. Louis University</li>
</ul>
<h4>Curators (Data Annotation)</h4>
<ul>
<li>Miles Coburn, John Carroll University</li>
<li>Sonia Crichigno, Centro Regional Universitario Bariloche, (Univ. Nac. del Comahue), Argentina</li>
<li>Jeff Engeman, University of South Dakota</li>
<li>Terry Grande, Loyola University, Chicago</li>
<li>Eric Hilton, Virginia Institute of Marine Science</li>
<li>John Lundberg, The Academy of Natural Sciences, Philadelphia</li>
<li>Paula Mabee, University of South Dakota</li>
<li>Richard Mayden, St. Louis University</li>
<li>Mark Sabaj Pérez, The Academy of Natural Sciences, Philadelphia</li>
<li>Sandrine Tercerie, Muséum National d'Histoire Naturelle</li>
</ul>
<h4>Phenoscape Workshop Participants &amp; Contributors</h4>
<ul>
<li>Arhat Abzhanov, Harvard University</li>
<li>Angel Amores, University of Oregon</li>
<li>Gloria Arratia, The University of Kansas</li>
<li>Michael Ashburner, University of Cambridge</li>
<li>Jim Balhoff, National Evolutionary Synthesis Center</li>
<li>Susan Bassham, University of Oregon</li>
<li>Rüdiger Bieler, Field Museum, Chicago</li>
<li>David Blackburn, University of Kansas</li>
<li>Judith Blake, The Jackson Laboratory</li>
<li>Stan Blum, California Academy of Sciences</li>
<li>Miles Coburn, John Carroll University</li>
<li>Kevin Conway, St. Louis University</li>
<li>William Cresko, University of Oregon</li>
<li>Quentin Cronk, The University of British Columbia</li>
<li>Wasila Dahdul, University of South Dakota</li>
<li>Mário de Pinna, Universidade de São Paulo</li>
<li>Andy Deans, North Carolina State University</li>
<li>April DeLaurier, University of Oregon</li>
<li>Alexander Diehl, The Jackson Laboratory</li>
<li>Torsten Dikow, Field Museum, Chicago</li>
<li>Jeff Engeman, University of South Dakota</li>
<li>George Gkoutos, University of Cambridge</li>
<li>Lance Grande, Field Museum, Chicago</li>
<li>Terry Grande, Loyola University, Chicago</li>
<li>Melissa Haendel, Zebrafish Information Network</li>
<li>Brian Hall, Dalhousie University</li>
<li>Eric Hilton, Virginia Institute of Marine Science</li>
<li>Robert Ho, University of Chicago</li>
<li>Hopi Hoekstra, Harvard University</li>
<li>Hans Hofmann, University of Texas at Austin</li>
<li>Elizabeth Jockusch, Univesity of Connecticut</li>
<li>Elizabeth Kellogg, University of Missouri, St. Louis</li>
<li>Chuck Kimmel, University of Oregon</li>
<li>Cartik Kothari, National Evolutionary Synthesis Center</li>
<li>Hilmar Lapp, National Evolutionary Synthesis Center</li>
<li>Suzanna Lewis, Berkeley Bioinformatics and Ontology Project</li>
<li>John Lundberg, The Academy of Natural Sciences, Philadelphia</li>
<li>Paula Mabee, University of South Dakota</li>
<li>Anne Maglia, Missouri University of Science and Technology</li>
<li>Joanna Mandecki, University of Chicago</li>
<li>Austin Mast, Florida State University</li>
<li>Richard Mayden, St. Louis University</li>
<li>Charlene McCord, University of Chicago</li>
<li>Peter Midford, National Evolutionary Synthesis Center</li>
<li>Chris Mungall, Berkeley Bioinformatics and Ontology Project</li>
<li>Conor O'Brien, University of Oregon</li>
<li>Vicky Prince, University of Chicago</li>
<li>Martin Ramirez, Museo Argentino de Ciencias Naturales "Bernardino Rivadavia," Argentina</li>
<li>Sue Rhee, Carnegie Institution</li>
<li>Martin Ringwald, The Jackson Laboratory</li>
<li>Nelson Rios, Tulane University</li>
<li>Callum Ross, University of Chicago</li>
<li>Mark Sabaj Pérez, The Academy of Natural Sciences, Philadelphia</li>
<li>Erik Segerdell, University of Calgary</li>
<li>Paul Sereno, University of Chicago</li>
<li>Brian Sidlauskas, Oregon State University</li>
<li>Barry Smith, University at Buffalo</li>
<li>David Stern, Princeton University</li>
<li>Jared Talbot, University of Oregon</li>
<li>Margaret Thayer, Field Museum, Chicago</li>
<li>Tom Titus, University of Oregon</li>
<li>Ceri Van Slyke, Zebrafish Information Network</li>
<li>Matt Vickaryous, University of Guelph</li>
<li>Todd Vision, National Evolutionary Synthesis Center and University of North Carolina at Chapel Hill</li>
<li>Peter Vize, University of Calgary</li>
<li>Gunter Wagner, Yale University</li>
<li>Michael Wallinga, University of South Dakota</li>
<li>Nicole Washington, Lawrence Berkeley National Lab</li>
<li>Monte Westerfield, Zebrafish Information Network and University of Oregon</li>
<li>Mark Westneat, Field Museum, Chicago</li>
<li>Edward Wiley, The University of Kansas</li>
<li>Matt Yoder, North Carolina State University</li>
</ul>
<h4>Software testing</h4>
<ul>
<li>Carole Baldwin, Smithsonian Nationaol Museum of Natural History</li>
<li>Julie Mounts, Smithsonian Nationaol Museum of Natural History</li>
<li>Lynne Parenti, Smithsonian Nationaol Museum of Natural History</li>
<li>Jiakun Song, Smithsonian Nationaol Museum of Natural History</li>
<li>Daniel Lumbantobing, George Washington University</li>
</ul>
<h4>Students</h4>
<ul>
<li>Alex Ahearn, Duke University</li>
<li>Alyssa Block, University of South Dakota</li>
<li>Sonia Crichigno, Centro Regional Universitario Bariloche, (Univ. Nac. del Comahue), Argentina</li>
<li>Jeff Engeman, University of South Dakota</li>
<li>Ericka Grey, University of South Dakota</li>
<li>Jonathan Lee, Duke University</li>
<li>Leah Mabee, University of South Dakota</li>
<li>Mtakai Ngara, International Institute of Tropical Agriculture, Nairobi, Kenya</li>
<li>Carla Perez, Duke University</li>
<li>Carin Rambow, University of South Dakota</li>
<li>Du Rui, University of South Dakota</li>
<li>Brad Schanche, University of South Dakota</li>
<li>Michael Wallinga, University of South Dakota</li>
</ul>

<h3>Project team</h3>
<ul>
<li>Paula Mabee, University of South Dakota</li>
<li>Monte Westerfield, Zebrafish Information Network and University of Oregon</li>
<li>Todd Vision, National Evolutionary Synthesis Center and University of North Carolina at Chapel Hill</li>
<li>Hilmar Lapp, National Evolutionary Synthesis Center</li>
<li>Jim Balhoff, National Evolutionary Synthesis Center</li>
<li>Wasila Dahdul, University of South Dakota</li>
<li>Peter Midford, National Evolutionary Synthesis Center</li>
</ul>

<h3>Data sources</h3>
<ul>
<li><a href="http://zfin.org">ZFIN</a> - mutant and morpholina zebrafish genes and phenotypes</li>
<li><a href="http://research.calacademy.org/ichthyology/catalog">Catalog of Fishes</a> - fish taxonomy</li>
<li><a href="http://www.fishbase.org/">Fishbase</a> - fish common names</li>
</ul>


<h3>Funding</h3>
<p>The Phenoscape project is funded by NSF grant BDI-0641025, and supported by the National Evolutionary Synthesis Center (NESCent), NSF #EF-0423641.</p>