<h2>Contributors</h2>
<p>The following individuals have contributed to Phenoscape ontology development, data curation, workshops, and data entry:</p>
<h3>Teleost Anatomy Ontology Contributors</h3>
<ul>
<li>Gloria Arratia, The University of Kansas</li>
<li>Miles Coburn, John Carroll University</li>
<li>Kevin Conway, St. Louis University</li>
<li>Wasila Dahdul, University of South Dakota</li>
<li>Mário de Pinna, Universidade de São Paulo</li>
<li>Jeff Engemen, University of South Dakota</li>
<li>Terry Grande, Loyola University, Chicago</li>
<li>Melissa Haendel, Zebrafish Information Network</li>
<li>Brian Hall, Dalhousie University</li>
<li>Eric Hilton, Virginia Institute of Marine Science</li>
<li>John Lundberg, The Academy of Natural Sciences, Philadelphia</li>
<li>Paula Mabee, University of South Dakota</li>
<li>Richard Mayden, St. Louis University</li>
<li>Mark Sabaj Pérez, The Academy of Natural Sciences, Philadelphia</li>
<li>Brian Sidlauskas, National Evolutionary Synthesis Center</li>
<li>Richard Vari, National Museum of Natural History, Smithsonian Institution</li>
<li>Jacqueline Webb, University of Rhode Island</li>
<li>Edward Wiley, The University of Kansas</li>
</ul>
<h3>Teleost Taxonomy Ontology Contributors</h3>
<ul>
<li>Stan Blum, California Academy of Sciences</li>
<li>Miles Coburn, John Carroll University</li>
<li>Kevin Conway, St. Louis University</li>
<li>Wasila Dahdul, University of South Dakota</li>
<li>Bill Eschmeyer, California Academy of Sciences</li>
<li>Terry Grande, Loyola University, Chicago</li>
<li>Eric Hilton, Virginia Institute of Marine Science</li>
<li>John Lundberg, The Academy of Natural Sciences, Philadelphia</li>
<li>Richard Mayden, St. Louis University</li>
</ul>
<h3>Curators (Data Annotation)</h3>
<ul>
<li>Miles Coburn, John Carroll University</li>
<li>Sonia Crichigno, Centro Regional Universitario Bariloche, (Univ. Nac. del Comahue), Argentina</li>
<li>Jeff Engemen, University of South Dakota</li>
<li>Terry Grande, Loyola University, Chicago</li>
<li>Eric Hilton, Virginia Institute of Marine Science</li>
<li>John Lundberg, The Academy of Natural Sciences, Philadelphia</li>
<li>Paula Mabee, University of South Dakota</li>
<li>Richard Mayden, St. Louis University</li>
<li>Mark Sabaj Pérez, The Academy of Natural Sciences, Philadelphia</li>
</ul>
<h3>Phenoscape Workshop Participants &amp; Contributors</h3>
<ul>
<li>Arhat Abzhanov, Harvard University</li>
<li>Gloria Arratia, The University of Kansas</li>
<li>Michael Ashburner, University of Cambridge</li>
<li>Jim Balhoff, National Evolutionary Synthesis Center</li>
<li>Judith Blake, The Jackson Laboratory</li>
<li>Stan Blum, California Academy of Sciences</li>
<li>Miles Coburn, John Carroll University</li>
<li>Kevin Conway, St. Louis University</li>
<li>Quentin Cronk, The University of British Columbia</li>
<li>Wasila Dahdul, University of South Dakota</li>
<li>Mário de Pinna, Universidade de São Paulo</li>
<li>Andy Deans, North Carolina State University</li>
<li>Jeff Engemen, University of South Dakota</li>
<li>George Gkoutos, University of Cambridge</li>
<li>Terry Grande, Loyola University, Chicago</li>
<li>Melissa Haendel, Zebrafish Information Network</li>
<li>Eric Hilton, Virginia Institute of Marine Science</li>
<li>Hopi Hoekstra, Harvard University</li>
<li>Hans Hofmann, University of Texas at Austin</li>
<li>Elizabeth Jockusch, Univesity of Connecticut</li>
<li>Elizabeth Kellogg, University of Missouri, St. Louis</li>
<li>Chuck Kimmel, University of Oregon</li>
<li>Cartik Kothari, National Evolutionary Synthesis Center</li>
<li>Hilmar Lapp, National Evolutionary Synthesis Center</li>
<li>Suzanna Lewis, Berkeley Bioinformatics and Ontology Project</li>
<li>John Lundberg, The Academy of Natural Sciences, Philadelphia</li>
<li>Paula Mabee, University of South Dakota</li>
<li>Anne Maglia, Missouri University of Science and Technology</li>
<li>Austin Mast, Florida State University</li>
<li>Richard Mayden, St. Louis University</li>
<li>Peter Midford, University of Kansas</li>
<li>Chris Mungall, Berkeley Bioinformatics and Ontology Project</li>
<li>Martin Ramirez, Museo Argentino de Ciencias Naturales "Bernardino Rivadavia," Argentina</li>
<li>Sue Rhee, Carnegie Institution</li>
<li>Martin Ringwald, The Jackson Laboratory</li>
<li>Nelson Rios, Tulane University</li>
<li>Mark Sabaj Pérez, The Academy of Natural Sciences, Philadelphia</li>
<li>Eric Segerdell, University of Calgary</li>
<li>Brian Sidlauskas, National Evolutionary Synthesis Center</li>
<li>Barry Smith, University at Buffalo</li>
<li>David Stern, Princeton University</li>
<li>Todd Vision, National Evolutionary Synthesis Center and University of North Carolina at Chapel Hill</li>
<li>Peter Vize, University of Calgary</li>
<li>Gunter Wagner, Yale University</li>
<li>Michael Wallinga, University of South Dakota</li>
<li>Nicole Washington, Lawrence Berkeley National Lab</li>
<li>Monte Westerfield, Zebrafish Information Network and University of Oregon</li>
<li>Edward Wiley, The University of Kansas</li>
</ul>
<h3>Students</h3>
<ul>
<li>Alex Ahearn, Duke University</li>
<li>Alyssa Block, University of South Dakota</li>
<li>Sonia Crichigno, Centro Regional Universitario Bariloche, (Univ. Nac. del Comahue), Argentina</li>
<li>Jeff Engeman, University of South Dakota</li>
<li>Ericka Grey, University of South Dakota</li>
<li>Jonathan Lee, Duke University</li>
<li>Leah Mabee, University of South Dakota</li>
<li>Carla Perez, Duke University</li>
<li>Carin Rambow, University of South Dakota</li>
<li>Du Rui, University of South Dakota</li>
<li>Brad Schanche, University of South Dakota</li>
<li>Michael Wallinga, University of South Dakota</li>
</ul>