<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Phenoscape</title>
	<%= stylesheet_link_tag "main" %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "MochiKit" %>
	<!-- Combo-handled YUI JS files: --> 
	<script type="text/javascript" src="http://yui.yahooapis.com/combo?2.6.0/build/yuiloader/yuiloader-debug.js&amp;2.6.0/build/event/event-debug.js&amp;2.6.0/build/connection/connection-debug.js&amp;2.6.0/build/datasource/datasource-debug.js&amp;2.6.0/build/dom/dom-debug.js&amp;2.6.0/build/autocomplete/autocomplete-debug.js&amp;2.6.0/build/element/element-beta-debug.js&amp;2.6.0/build/json/json-debug.js&amp;2.6.0/build/logger/logger-debug.js"></script>

</head>
<body>
	
<%= yield  %>

</body>
</html>
